# PYTHON PRACTICE WEEK 1, DAY 2 #
## How to write codes with python will start from now on! ##

Also, remember how to make markdown, which is like how html works If you don't really use any hastags, you won't make any **titles**, subtitles, subsubtitles, *subsubsubtitles*, whatever-titles until you get tired and texts.

- Go and check out how to write html
- Visit **holypython.com** for more practices

This file is written on Visual Studio Code, powered by Jupyter Notebook.

#### 1.Single, double, and triple string ####
All of words/phrases are inside the string ' ' or "".

In [23]:
print('Hello, world!')
print("Nadia Oktiarsy")

## difference on printing
print('''Nadia
Oktiarsy''')
print('''Nadia \
Oktiarsy''')

Hello, world!
Nadia Oktiarsy
Nadia
Oktiarsy
Nadia Oktiarsy

In [24]:
print('okti' + '23')

print("okti",23)

okti23
okti 23

#### 2. Interger ####

You can't mix between strings and integers. Integers are usually the exact numbers.

In [1]:
## To print the results of triangle's area
'''
Calculate the area of triangle,
of the length is 22,
and height 30
'''

print((22*30)/2)

330.0

### 3. Boolean ###

True and False statements.

In [26]:
print(bool('hello'))
print(bool(1))
print(bool(False))
print(bool(True))
print(bool(''))
print(bool(0))

True
True
False
True
False
False

#### 4. Checking type of data ####
To check your type of codes, which will be shown as classes.

In [27]:
print(type(0))
print(type(True))
print(type(4.5))
print(type('okti'))
print(type(['nadia','okti','nao']))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'list'>

#### 5. Variables ####
You give the aliases for the data you want to use.
- Remember not to use variables started with numbers.
For example which doesn't work:
3_variable

In [28]:
name = "Nadia Oktiarsy"
height = "165"
background_study_undergraduate = "University of Indonesia"
background_study_graduate = "The University of Tokyo"

print(type(background_study_graduate))
print(name+" "+background_study_undergraduate)

3_variable = "3"

SyntaxError: invalid decimal literal (359353792.py, line 9)

In [108]:
# camel case
myVariableName = "Zhongli"

# pascal case
MyVariableName= 'Ganyu'

# snake case
my_variable_name = "Tartaglia"

#### 6. Casting ####
If you want to change float to integer, or integer to float.

In [ ]:
num_int = 20
print(float(num_int))

num_flt = 20.14354365
print(int(num_flt))

20.0
20

In [33]:
# If you want to round the number
y = 2498.3243235
x = round(y)
print(x)

# Add coma and value you want to round
y = 2498.3243235
x = round(y,3)
print(x)

2498
2498.324

#### 7. Operators Arithmetic ####

In [ ]:
a = 10
b = 20
print(a+b)
print(a/b) #float
print(a//b) #integer
print(a%b)
print(a**b)

30
0.5
0
10
100000000000000000000

#### 8. Comparison ####

In [35]:
a = 40
b = 30
print(a)
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)

40
False
False
True
True

#### 9. String Manipulation ####
If you want to change or manipulate strings, for example, to capitalize the string.

In [39]:
name_capital = "NAdia Oktiarsy"
print(name_capital.capitalize())
print(name_capital.lower())
print(name_capital.upper())
print('-----------------------------------') # writing this will waste time
print('-'*40)
print(name_capital)

Nadia oktiarsy
nadia oktiarsy
NADIA OKTIARSY
-----------------------------------
----------------------------------------
NAdia Oktiarsy

#### 10. Slicing ####
The usage of two-dots : or COLON, is to show from the start, until the end of the element of string or integers. 

! This will be frequently used.

In [52]:
print(name[0])
print(name[1])
print(name[:])
print(name[:2])
print(name[1:2])
print(name[1:4])
print(name[1:4:2])
print(name[-4:-1])

N
a
Nadia Oktiarsy
Na
a
adi
ai
ars

#### 11. Formatting ####
Syntax will be: *string*.format(value1,value2)

In [59]:
name = "Nadia Oktiarsy"
age = 28
print('My name is '+ name + ', I am ' + str(age) + ' years old.')
print(f'my name is {name}, im {age} years old.')
print('MY name is {}, IM {} years old.'.format(age,name))
print('MY name is {1}, IM {0} years old.'.format(age,name))
print('MY name is {0}, IM {1} years old.'.format(age,name))

My name is Nadia Oktiarsy, I am 28 years old.
my name is Nadia Oktiarsy, im 28 years old.
MY name is 28, IM Nadia Oktiarsy years old.
MY name is Nadia Oktiarsy, IM 28 years old.
MY name is 28, IM Nadia Oktiarsy years old.

#### 12. Listing ####

In [74]:
listTransportationModes = ['motor','car','bus','bicycle','train']
print(listTransportationModes)
print(listTransportationModes[2:5])
print(len(listTransportationModes))

['motor', 'car', 'bus', 'bicycle', 'train']
['bus', 'bicycle', 'train']
5

In [75]:
# Changing value in a list
print(listTransportationModes)
listTransportationModes[2]="MRT"
print(listTransportationModes)
listTransportationModes[2:4]=["LRT"]
print(listTransportationModes)

['motor', 'car', 'bus', 'bicycle', 'train']
['motor', 'car', 'MRT', 'bicycle', 'train']
['motor', 'car', 'LRT', 'train']

In [88]:
# Using append and extend
list_1 = ['mmm','sss','qqq','zzz','nnn','ddd']
list_2 = ['www','jjj','kkk']
list_1.append(list_2)
print(list_1)

list_2.extend(list_1)
print(list_2)

['mmm', 'sss', 'qqq', 'zzz', 'nnn', 'ddd', ['www', 'jjj', 'kkk']]
['www', 'jjj', 'kkk', 'mmm', 'sss', 'qqq', 'zzz', 'nnn', 'ddd', [...]]

In [87]:
list_1.pop(1)
print(list_1)

#delete list_1[1]
del list_1
print(list_1)

NameError: name 'list_1' is not defined

#### 13. ASCII characters

In [93]:
# number -> large characters -> small characters
a=['a','b','C','1','2','7865']
print(max(a))
print(min(a))

a.sort()
print(a)

b
1
['1', '2', '7865', 'C', 'a', 'b']

#### 14. Tuple ####

In [95]:
tupleTransportation = ('motor','car','bus','bicycle','train')
print(tupleTransportation)

('motor', 'car', 'bus', 'bicycle', 'train')

In [98]:
listTransportationModes_2 = list(tupleTransportation)
listTransportationModes_2[2] = 'ship'
print(listTransportationModes_2)
tupleTransportation = tuple(listTransportationModes_2)

['motor', 'car', 'ship', 'bicycle', 'train']

#### 15. Set ####
Set has a characteristic such as unordered and non-indexed.

In [100]:
mySet = {'motor','car','bus','bicycle','train'}
print(mySet)

mySet.add('ship')
print(mySet)

{'car', 'bicycle', 'train', 'bus', 'motor'}
{'car', 'bicycle', 'train', 'bus', 'motor', 'ship'}

#### 16. Dictionaries ####
This one is frequently used, and catagorized as ordered for python new version.

- .keys is ...?
- .values is ...?

In [109]:
myDict = {
    'Price'          : 7000,
    'Product'        : 'Water Mineral',
    'Brand Name'     : 'Aqua'
}

print(myDict)
print(myDict.keys())
print(myDict.values())
print(myDict.items())

{'Price': 7000, 'Product': 'Water Mineral', 'Brand Name': 'Aqua'}
dict_keys(['Price', 'Product', 'Brand Name'])
dict_values([7000, 'Water Mineral', 'Aqua'])
dict_items([('Price', 7000), ('Product', 'Water Mineral'), ('Brand Name', 'Aqua')])

In [106]:
print(myDict['Price'])
print(myDict.get('Price'))

7000
7000

In [123]:
# Adding dictionary
myDict['length'] = 15
print(myDict)

# Deleting dictionary
myDict.pop('length')
print(myDict)

people= {
        1: {'name': 'Zhongli', 'Age': '6000', 'gender':'male'},
        2: {'name': 'Raiden Mei', 'Age':'1000', 'gender':'female'}
        }
print(people)
print(people[2]['name'])

{'Price': 7000, 'Product': 'Water Mineral', 'Brand Name': 'Aqua', 'length': 15}
{'Price': 7000, 'Product': 'Water Mineral', 'Brand Name': 'Aqua'}
{1: {'name': 'Zhongli', 'Age': '6000', 'gender': 'male'}, 2: {'name': 'Raiden Mei', 'Age': '1000', 'gender': 'female'}}
Raiden Mei